<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Gestión de personajes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div>
    <h1>Gestión de personajes</h1>
    <p><a href="/">Volver al menú de gestión</a></p>
</div>

<!-- Obtener todos los personajes -->
<div>

    <div>
        <h2>Algunos personajes</h2>
    <ul>
        {% for character in characters %}
        <li>
            <h3>{{ character.name }}</h3>
            ID: {{ character.character_id }},
            Género: {{ character.gender }},
            Profesión: {{ character.profession }}
            <a href="/characters/update/{{ character.character_id }}">Editar</a>
        </li>
        {% endfor %}
    </ul>
        <form action="/characters/all" method="GET">
            <button type="submit">Ver todos los personajes</button>
        </form>
    </div>

</div>

<div>
    <div style="display: flex; gap: 40px;">
        <!-- Añadir personaje -->
        <div style="flex: 1;">
            <h2>Añadir personaje</h2>
            <form action="/characters/create" method="POST">
                <p>Nota: Los parámetros con * son obligatorios</p>
                <label>Nombre*: <input name="name" required type="text"></label><br>
                <label>Género*:
                    <select name="gender" required>
                        <option value="">--Seleccione--</option>
                        <option value="M">M</option>
                        <option value="F">F</option>
                        <option value="Other">Other</option>
                    </select>
                </label><br>
                <label>Distrito*:
                    <select name="district" required>
                        <option value="">--Seleccione un distrito--</option>
                        {% for d in districts %}
                            <option value="{{ d.number }}">{{ d.name }}</option>
                        {% endfor %}
                    </select>
                </label><br>
                <label>Profesión: <input name="profession" type="text"></label><br>

                <button type="submit">Añadir</button>
            </form>
        </div>

        <!-- Eliminar personaje -->
        <div style="flex: 1;">
            <h2>Eliminar personaje</h2>
            <form action="/characters/delete" method="POST">
                <label>ID*: <input name="character_id" required type="text"></label><br>
                <button type="submit">Eliminar</button>
            </form>
        </div>
    </div>

    <div style="display: flex; gap: 40px; margin-top: 20px;">
        <!-- Obtener personaje por ID -->
        <div style="flex: 1;">
            <h2>Obtener personaje por ID</h2>
            <form action="/characters" method="GET" onsubmit="event.preventDefault(); getCharacterById();">
                <label>ID*: <input id="character_id" name="character_id" required type="text"></label><br>
                <button type="submit">Buscar</button>
            </form>
        </div>

        <!-- Obtener personaje por nombre -->
        <div style="flex: 1;">
            <h2>Obtener personaje por nombre</h2>
            <form action="/characters/name" method="GET">
                <label>Nombre*: <input name="name" required type="text"></label><br>
                <button type="submit">Buscar</button>
            </form>
        </div>
    </div>
</div>

<script>
    function getCharacterById() {
        const idCharacter = document.getElementById('character_id').value;
        if (idCharacter) {
            window.location.href = `/characters/${idCharacter}`;
        } else {
            alert('Por favor, introduce un ID válido.');
        }
    }
</script>

</body>
</html>
