<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Histogramas</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/png">
    </head>
    <body>
        <div class="white_div">
            <h1>Histogramas de Personajes</h1>
        </div>

        <div class="button-container">
            <p><a href="/">Volver al menú principal</a></p>
        </div>

        <div class="histogram_grid">
            <nav class="histogram_nav">
                <h2>Personajes por libro</h2>
                <img src="data:image/png;base64,{{ books }}" alt="Personajes por libro">
            </nav>

            <nav class="histogram_nav">
                <h2>Personajes por distrito</h2>
                <img src="data:image/png;base64,{{ districts }}" alt="Personajes por distrito">
            </nav>

            <nav class="histogram_nav">
                <h2>Personajes por alianza</h2>
                <img src="data:image/png;base64,{{ alliances }}" alt="Personajes por alianza">
            </nav>

            <nav class="histogram_nav">
                <h2>Personajes por juegos</h2>
                <img src="data:image/png;base64,{{ games }}" alt="Participantes (tributos y mentores) por juegos">
            </nav>

            <nav class="histogram_nav">
                <h2>Bajas por causa</h2>
                <img src="data:image/png;base64,{{ kills }}" alt="Muertes por causa">
            </nav>

            <nav class="histogram_nav">
                <h2>Personajes de los distritos por libro</h2>
                <img src="data:image/png;base64,{{ districts_per_book }}" alt="Personajes de los distritos por libro">
            </nav>
        </div>
    </body>
</html>
